<template>
<ul class='fields' id='fields' :columns='columns' :rows='rows'>
	<li class='fields__item' v-bind:key='field' v-for='field in ( rows * columns )' :column='field % columns ? field % columns : 10' :row='Math.ceil( field / rows )'>
		<input class='fields__letter' type='text' maxlength='1'>
	</li>
</ul>
</template>

<script>
	export default {
		name: 'fields',
		props: [ 'rows', 'columns' ]
	}
</script>

<style>
	.fields {
		width: 500px;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-gap: 1px;
		grid-auto-rows: 1fr
	}

	.fields__item {
		height: 50px;
		background-color: #8B8B8B;
		border: 1px solid white;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.fields__letter {
		border: 0;
		display: inline-block;
		vertical-align: middle;
		white-space: normal;
		background: none;
		text-align: center;
		line-height: 1;
		width: 100%;
		height: 100%;
		font-size: 16px;
		text-transform: uppercase;
	}
</style>