<template>
	<div id="app">
		<fields v-bind:rows='rows' v-bind:columns='columns'/>
	</div>
</template>

<script>
	import fields from './components/fields.vue';
	import words from './words.js';
	import setLetters from './setLetters.js';

	export default {
		name: 'app',
		components: {
			fields
		},
		data() {

			const
			columns = 10,
			rows    = 10;

			return {
				words       : words,
				columns     : columns,
				rows        : rows,
				fieldIndexes: [ ...Array( columns * rows ).keys() ]
			}

		},
		mounted: function () {
			this.$nextTick( setLetters( this.$data ) )
		}
	}
</script>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
</style>
